
.mainframe{
    margin: 2% 10% 2%;
}

.myName{
    margin:5%;
    padding-bottom:5%;
    text-align: center;
    font-size:5vw;
    font-weight:bold;
    border-bottom: solid 3px #ED553B;
}

.router{
    display:flex;
    line-height:5vw;
    font-size:2vw;
    margin:5%;
    margin-left:10%;
    text-align:center;
    font-weight:bold;
}

.router div{
    width:10vw;
    height:5vw;
    border-top-right-radius: 45%;
}

.router div:hover{
    font-size:2.5vw;
}


.router__bio, .bio{
    background:lightseagreen;
}

.router__chrono, .chrono{
    background:lightskyblue;
}

.router__CV, .cv{
    background:coral;
}

.router__works, .works{
    background:#F6D55C;
}


.bio, .chrono, .cv, .works, .contact{
    margin:10%;
    margin-top:-5%;
    padding:1%;
    border-top:solid 3px black;
}

/* bio */
.bio__profile{
    background:beige;
    border:solid 2px black;
    padding:5%;
    margin:1%;
}

.bio__profile__title{
    font-size:2vw;
    font-weight:bold;
}

.bio__facts{
    font-size:1.2vw;
}

.bio__facts__keyword{
    color:black;
    font-size:1.4vw;
    font-weight:bold;
}

.bio__facts a{
    text-decoration:none;
}
/* bio */


/* chrono */
.chrono__events{
    position:relative;
    display:flex;
    margin-top:5%;
    margin-bottom:5%;
}

.chrono__company{
    width:35%;
    padding-left:5%;
    text-align:right;
}

.chrono__company__name{
    padding-top:3%;
    font-size:2vw;
    font-weight:bold;
}

.chrono__company__name a{
    color:black;
    text-decoration:none;
}

.chrono__company__place{
    padding-top:3%;
    font-size:1.8vw;
    font-style:italic;
}

.chrono__company__period{
    padding-top:1%;
    font-size:1.8vw;
}

.chrono__draw{
    width:15%;
    position:relative;
    padding-left:3%;
    padding-right:3%;
}

.chrono__draw__circle{
    background:white;
    margin-top:10%;
    padding:10%;
    border:solid 5px #ED553B;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
    color:#ED553B;
    font-size:2.5vw;
    font-weight:bold;
    text-align:center;
    z-index:100;
}

.chrono__draw__line{
    background:#ED553B;
    position:absolute;
    border-bottom-left-radius:100%;
    border-bottom-right-radius:100%;
    width:5%;
    height:100%;
    margin-top:-1%;
    margin-bottom:30%;
    left:49%;
}

.chrono__job{
    width:40%;
}

.chrono__job__title{
    padding-top:2%;
    font-size:2vw;
    font-weight:bold;
}

.chrono__job__desc{
    padding-top:2%;
    padding-left:3%;
    font-size:1.5vw;
    text-indent:-2vw;
}

/* chrono */

/* cv */
.cv{
    padding:2%;
}

.cv__skills__subtitle, .cv__exp__subtitle{
    font-size:2.5vw;
    font-weight:bolder;
    background:maroon;
    color:beige;
}

.cv__exp, .cv__skills{
    padding:5%;
    background:lightgoldenrodyellow;
    border:solid 1px orange;
    margin-top:2.5%;
    margin-bottom:2.5%;
    font-size:2vw;

}

.cv__skills__skillsList__skill{
    display:inline-flex;
    width:10%;
    margin:2%;
}

.cv__skills__skillsList__skill img{
    width:6vw;
    height:6vw;
}

.cv__work {
    border:solid 1px lightgray;
    margin-top:2%;
    margin-bottom:2%;
}

.cv__work__basicInfo, .cv__work__addInfo{
    display:flex;
    background:lightblue;
    font-weight:bold; 
    font-size:1.75vw;
}

.cv__work__addInfo{
    background:none;
}

.cv__work__basicInfo__period, .cv__work__addInfo__location{
    position:absolute;
    right:23%;
}

.cv__work__desc{
    list-style: none;
    font-size:1.7vw;
    margin-left:1%;
    margin-top:1%;
}

/* cv */

/* works */
.works{
    padding:5%;
}

.works__work{
    background:lemonchiffon;
    margin:5%;
}

.works__work__imgLink{
    background:orange;
    padding:5%;
    position: relative;
}

.works__work__imgLink img{
    width:100%;
    height:100%;
}

.works__work__imgLink__shortDesc{
    position: absolute;
    width:100%;
    height:100%;
    top:0%;
    left:0%;
    background:rgb(2, 2, 58);
    opacity:0.8;
}

.works__work__imgLink__shortDesc:hover{
    opacity:0;
}

.works__work__imgLink__shortDesc span{
    position:absolute;
    left:0%;
    padding:5%;
    color:beige;
    font-size:3vw;
    font-weight:bold;
}

.works__work__imgLink__shortDesc__title{
    top:1%;
    width:40%;
    border-bottom:solid 2px beige;
}

.works__work__imgLink__shortDesc__desc{
    top:25%;
}

.works__work__imgLink__shortDesc__skills{
    top:60%;
}




.contact{
    display:flex;
    justify-content: space-around;
    border-top:solid 3px #ED553B;
    padding-top:3%;
    margin:5%;
}

.contact img{
    width:8vw;
    height:8vw;
    background:white;
}

.contact__info{
    font-size:2vw;
    text-align:center;
}

